test.py
docker/
__pycache__/
Draft/
testing/
tmp_testing/
utils.py/__pycache__
model/__pycache__
PointNet2_sem_seg_msg/__pycache__
draft_log/
log_sem/
log_tmp/
logs/
msg_log/
Out/
PointNet2_sem_seg_msg/__pycache__
run/
run_msg/
run_sem/
run.bash
testing.py
tmp_testing.py
sem_log/
log_draft/
log_msg/
